<div class="container">
    <div class="logo">
        <a href="/courses"><i class="fa fa-graduation-cap" aria-hidden="true"> Avicci</i></a></i>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/courses">Students Portal</a></li>
            <li><a href="/login">Returning Student</a></li>
            <li><a href="/signup">New Student</a></li>
        </ul>
    </nav>
</div>