<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Course</title>
</head>

<body>

    <h1>Single course</h1>
    <h2>
        <%= course.course_code %>,<%= course.course_title %>, <%= course.course_code %>
    </h2>



</body>

</html>