<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>

        <body>
            <label for="">
                <h1>STUDENT LOGIN</h1>
            </label>
            <fieldset class="login">
                <form action="" class="std" method="post">
                    <label for="password">Matric Number</label>
                    <input type="password" name="matric_number" id="password">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <button type="submit">Login</button>
                </form>
            </fieldset>
            <%- include('./partials/footer.ejs') %>
        </body>

        </html>